{% extends 'base.html' %}

{% block title %}My App - Post Edit{% endblock %}

{% block content %}
	{% if message %}
	<div class="alert alert-info">{{ message }}</div>
	{% endif %}
	<form action="" method="POST">
	{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="title">Title</label>
			<input type="text" name="title" id="title" value="{{ post.title }}" class="form-control">
		</div>
		<div class="form-group">
			<label class="control-label" for="content">Content</label>
			<textarea name="content" id="content" class="form-control" rows="4" cols="50">{{ post.content }}</textarea>
		</div>
		<div class="form-group">
			<label class="control-label" for="likes">Likes</label>
			<input type="number" name="likes" id="likes" step="1" min="0" value="{{ post.likes }}">
		</div>
		<div class="form-group">
			<label class="control-label" for="dislikes">Dislikes</label>
			<input type="number" name="dislikes" id="dislikes" step="1" min="0" value="{{ post.dislikes }}">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="/posts/" class="btn btn-default">Back</a>
		</div>
	</form>
{% endblock %}